/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  font-family: inherit;
}
:root {
  --white: #fff;
  --pink: #e82147;
  --fair: PlayfairDisplay;
}
img {
  object-fit: cover;
  cursor: pointer;
}

/* sidebar */
.sidebar {
  position: fixed;
  right: 0px;
  background-color: #fff;
  width: 450px;
  height: 100%;
  z-index: 1001;
  display: none;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.3);
}
.close {
  padding: 20px 50px;
  width: 15.6px;
  height: 15.6px;
  cursor: pointer;
}
#sidebar_profile {
  float: left;
  width: 100%;
  display: block;
  margin-top: 40px;
  padding-left: 50px;
}
#sidebar_profile .photo {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#sidebar_profile .name {
  float: left;
  font-size: 22px;
  font-family: var(--fair);
  color: var(--pink);
  line-height: 80px;
  font-weight: bold;
}
#sidebar_profile #email {
  background: url("./assets/Email.png") no-repeat center left;
  color: #000;
  font-size: 12px;
  width: 100%;
  margin: 15px 0;
  clear: both;
  display: block;
  padding-left: 20px;
}
#sidebar_profile #fone {
  background: url("./assets/Telefone.png") no-repeat center left;
  color: #000;
  font-size: 12px;
  width: 100%;
  padding-left: 20px;
  margin: 15px 0 70px 0;
}
#monthly_plan {
  float: left;
  font-size: 26px;
  font-family: var(--fair);
}
#days {
  float: right;
  line-height: 40px;
  font-size: 14px;
  padding-right: 30%;
}
.bar {
  border-radius: 20px;
  width: 70%;
  height: 15px;
  background: #e8e8e8;
  position: relative;
  float: left;
  display: block;
  margin-top: 10px;
}
.color_bar {
  width: 60%;
  height: 15px;
  border-radius: 20px;
  display: block;
  background: var(--pink);
}
#subscribe {
  border-radius: 30px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pink);
  font-family: var(--fair);
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  margin-top: 50px;
  width: 70%;
  float: left;
  font-weight: normal;
}
#adm {
  width: 100%;
  height: 14.5px;
  margin: 0 72.6px 11.5px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #c1bebe;
  padding-top: 200px;
}
#adm a {
  float: left;
  width: 100%;
  line-height: 20px;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
}
#adm a:hover {
  color: #000;
}
.report {
  background: url("./assets/Bug.png") no-repeat left center;
}
.password {
  background: url("./assets/Senha.png") no-repeat left center;
}
.exit {
  background: url("./assets/Sair.png") no-repeat left center;
}

/* header */
header {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffdbbc;
}
header .content {
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 60px;
}
h1 {
  font-family: PlayfairDisplay;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  line-height: 1.35;
  float: left;
}
h1 span {
  color: #e82147;
}

.keyword {
  border: none;
  width: 85%;
  height: 38px;
  font-size: 14px;
  color: lightslategrey;
  font-weight: bold;
}

.search {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 0px 20px;
  float: left;
  margin-left: 13%;
}

.magnifying-glass {
  float: right;
  height: 24px;
  width: 24px;
  background: url("assets/Lupa@2x.png") no-repeat;
  border: none;
  margin-top: 8px;
}
.profile-link {
  float: right;
  width: 200px;
  color: var(--pink);
  vertical-align: middle;
  cursor: pointer;
}
.name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  float: right;
  line-height: 60px;
  margin-right: 15px;
}
.photo {
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--pink);
  padding: 10px;
  float: right;
  overflow: hidden;
  border-radius: 50px;
  transition: 1s;
}
.photo:hover {
  background-color: var(--white);
  box-shadow: 0px 3px 3px 3px rgb(206, 206, 206);
}
.receipt {
  display: block;
  background: url("./assets/Elemento_1.png") no-repeat center right;
  width: 750px;
  margin: 80px auto 55px;
  min-height: 221px;
  position: relative;
}
.welcome {
  float: left;
  font-family: PlayfairDisplay;
  font-weight: bold;
  padding-top: 15px;
  font-size: 3em;
  text-align: left;
}
.welcome span {
  color: var(--pink);
}
.receipt-info {
  position: absolute;
  left: 0;
  bottom: 25px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}
.receipt-info span {
  color: var(--pink);
}
/* lightbox */
.lightbox {
  display: none;
}
.light-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  opacity: 0.8;
}
.light-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 860px;
  height: 400px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1001;
  overflow: hidden;
}
.light-content button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 26px;
  font-weight: bold;
}
.light_img {
  float: left;
  width: 60%;
}
.light-dir {
  float: right;
  width: 26%;
  margin-top: 50px;
  color: #555455;
  font-size: 11px;
  position: relative;
  padding-right: 60px;
  text-align: left;
  line-height: 16px;
}
.light-dir h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
}
.light-dir h3 span {
  color: var(--pink);
}
.light-action {
  margin-top: 20px;
  color: var(--pink);
}
.light-like {
  border-radius: 19px;
  border: solid 0.5px var(--pink);
  background: url("assets/Like.png") no-repeat 13px center;
  padding: 3px 20px 3px 24px;
  text-align: center;
  display: inline;
}
.light-ver {
  display: inline;
  background: url("assets/Seta_direita.png") no-repeat left center;
  padding: 3px 20px 3px 14px;
  margin-left: 20px;
}
/* fim lightbox */
.dish {
  width: 250px;
  float: right;
  height: 220px;
  text-align: center;
  position: relative;
  right: 10px;
}
#dish-hover {
  background: #fff url("assets/Seta_direita.png") 12px center no-repeat;
  width: 91%;
  height: 20%;
  color: var(--pink);
  font-size: 14px;
  padding-left: 24px;
  line-height: 50px;
  position: absolute;
  bottom: 4%;
  left: 0;
  /* z-index: 999999; */
  text-align: left;
  opacity: 0;
}
.dish:hover #dish-hover {
  transition: opacity 1s;
  opacity: 1;
}
.elemento-2 {
  background: url("assets/Elemento_2.png");
  position: absolute;
  width: 138px;
  height: 137px;
  top: 39%;
  left: 10%;
}
main {
  width: 780px;
  margin: 80px auto;
}
h2 {
  font-family: var(--fair);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
/* section receipts */
#receipt-section {
  position: relative;
}
.elemento-7 {
  background: url("assets/Elemento_7.png") no-repeat;
  position: absolute;
  left: 90%;
  top: 20%;
  width: 142px;
  height: 110px;
}
/* carousel */
#carousel {
  margin: 60px auto;
  width: 100%;
}
.item {
  position: relative;
}
.buttons {
  width: 200px;
  position: absolute;
  right: 27%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.button-next {
  background: url("assets/Seta_esquerda@2x.png") center no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 60%;
  box-shadow: 3px 6px 6px 4px rgba(0, 0, 0, 0.16);
  background-color: white;
  transition: background-color 0.7s;
}
.button-prev {
  background: url("./assets/Seta_direita@2x.png") center no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 60%;
  box-shadow: 3px 6px 6px 4px rgba(0, 0, 0, 0.16);
  margin-left: 20px;
  transition: background-color 0.7s;
}
.button-next:hover {
  background: url("./assets/left-arrow.svg") center no-repeat;
  background-color: var(--pink);
  opacity: 1;
}
.button-prev:hover {
  background: url("./assets/Seta_esquerda_branca.png") center no-repeat;
  background-color: var(--pink);
  transition: opacity 2s;
  opacity: 1;
}
.dish-content {
  position: relative;
  box-shadow: 3px 5px 5px 3px #797979;
  float: left;
  width: 450px;
  height: 240px;
  margin-right: 50px;
  overflow: hidden;
  z-index: 0;
}

.dish-content img {
  width: 100%;
  height: 100%;
}
.dish-txt {
  font-weight: bold;
  text-align: left;
  color: var(--pink);
  font-size: 0.8em;
}
.dish-txt h3 {
  font-family: PlayfairDisplay;
  font-size: 2.3em;
  font-weight: bold;
  color: #000;
  margin: 25px 0;
}
.difficulty {
  float: left;
  margin-right: 10px;
}
.nivel {
  float: left;
  display: inline-flex;
}
.star {
  background: url("./assets/Estrela.png") no-repeat;
  background-size: contain;
  width: 17px;
  height: 11px;
  color: var(--pink);
  float: left;
}
.white {
  opacity: 0.1;
}
.dish-hover {
  background: #fff url("assets/Seta_direita.png") 10px center no-repeat;
  width: 94%;
  color: var(--pink);
  font-size: 14px;
  padding-left: 35px;
  line-height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: left;
  opacity: 0;
}
.dish-content:hover .dish-hover {
  transition: opacity 1s;
  opacity: 1;
}
.elemento-5 {
  background: url("./assets/Elemento_5@2x.png") no-repeat bottom center;
  width: 100%;
  height: 35px;
  margin-bottom: 100px;
  margin-top: 17%;
}
/* gastronomic world section */
#gastronomic-world {
  position: relative;
  min-height: 410px;
  margin-bottom: 200px;
}
#gastronomic-world h2 {
  margin-bottom: 60px;
  padding-top: 50px;
}
.elemento-4 {
  background: url("assets/Elemtno_4.png") no-repeat bottom center;
  position: absolute;
  left: 10%;
  top: 0%;
  width: 84px;
  height: 84px;
}
.elemento-6 {
  background: url("assets/Elemento_6.png") no-repeat bottom center;
  position: absolute;
  right: 10%;
  top: 50%;
  width: 84px;
  height: 84px;
}
#menu {
  width: 280px;
  float: left;
  font-weight: bold;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
}
.menu-button {
  border: solid 0.5px #f0f0f0;
  background-color: var(--white);
  color: #a19b9b;
  width: 64%;
  margin-bottom: 20px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0);
  padding: 30px 0px 30px 100px;
  font-family: var(--fair);
}
.menu-button:hover {
  color: var(--pink);
  border-color: var(--pink);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
}
.kitchen .menu-button {
  background: url("./assets/Cozinha.png") no-repeat;
  background-position: 55px center;
}
.kitchen .menu-button:hover,
.kitchen [option][selected] {
  background-image: url("./assets/Cozinha_active.png");
}
.patisserie .menu-button {
  background: url("./assets/Patisserie.png") no-repeat;
  background-position: 55px center;
}
.patisserie .menu-button:hover {
  background-image: url("./assets/Patisserie_active.png");
}
.drinks .menu-button {
  background: url("./assets/Drinks.png") no-repeat;
  background-position: 55px center;
}
.drinks .menu-button:hover {
  background-image: url("./assets/Drinks_active.png");
}
#menu-photo {
  width: 480px;
  height: 303px;
  float: right;
}
#menu-photo img {
  object-fit: cover;
}

/* footer */
footer {
  background: url("./assets/Rodapé@2x.png") no-repeat;
  float: left;
  width: 100%;
  height: 230px;
}
#footer {
  width: 780px;
  margin: 0 auto;
  padding-top: 120px;
}
.elemento-footer {
  background: url("assets/Rodapé_elemento_2@2x.png") no-repeat bottom center;
  position: absolute;
  right: 5%;
  bottom: -30%;
  width: 200px;
  height: 200px;
}
.logo {
  font-family: PlayfairDisplay;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.32;
  color: #000000;
  display: inline;
}
.logo span {
  color: var(--pink);
}
.copy {
  display: inline;
  font-size: 12px;
  margin: 0 0 0 20px;
}
#social-media {
  float: right;
}
#social-media a {
  width: 29px;
  height: 29px;
  display: inline-block;
  margin-right: 20px;
}
.fb {
  background: url("./assets/Fb@2x.png") no-repeat;
  cursor: pointer;
}
.fb:hover {
  background-image: url("./assets/Fb_active@2x.png");
}
.ig {
  background: url("./assets/IG@2x.png") no-repeat;
  cursor: pointer;
}
.ig:hover {
  background-image: url("./assets/IG_active@2x.png");
}
.tw {
  background: url("./assets/Twitter@2x.png") no-repeat;
  cursor: pointer;
}
.tw:hover {
  background-image: url("./assets/Twitter_active@2x.png");
}
.in {
  background: url("./assets/Linkedin@2x.png") no-repeat;
  cursor: pointer;
}
.in:hover {
  background-image: url("./assets/Linkedin_active@2x.png");
}
.pin {
  background: url("./assets/Pinterest@2x.png") no-repeat;
  display: inline-block;
  cursor: pointer;
}
.pin:hover {
  background-image: url("./assets/Pinterest_active@2x.png");
}

/* 
----------- Added A Preloader --------
*/
.preloader
{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
  background: linear-gradient(45deg,rgba(2, 2, 2, 0.747) 50%,rgba(73, 73, 73, 0.849) 50%);
  backdrop-filter: blur(15px);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.preloader.active
{
   transform: translateY(-100%);
   transition: ease-in-out 2s;
   transition-delay: 1s;
}

.preloader::before
{
   content: "welcome to cookfy";
   position: absolute;
   text-align: center;
   font-size: 8rem;
   text-transform:capitalize;
   color: rgba(0, 0, 0, 0.541);
   font-weight: 800;
}
.counter
{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 10em;
  font-family: 'Arial',sans-serif;
  z-index: 1;
}

.counter::after
{
  content: '%';
  font-size: 0.5em;
}

.hide
{
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.main.inactive
{
  display: none;
}

/*
------------changed color of scroll bar---------
*/
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: #7474748a;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 61, 109); 
  border-radius: 10px;
}